* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box !important; }

html,
body {
  position: relative; }

.padding-0 {
  padding: 0px !important; }

.clear {
  clear: both; }

@keyframes translateUpArrow {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }
@keyframes opacityAnimation {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.animationText {
  position: relative;
  overflow: hidden; }
  .animationText::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ff7070;
    animation: textAnimation  ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.2s;
    z-index: 99; }

@keyframes textAnimation {
  from {
    left: 0; }
  to {
    left: 100%; } }
.button_page {
  background-color: white; }
  .button_page .button_mainContent {
    padding: 10px; }
    .button_page .button_mainContent .button {
      outline: none;
      box-shadow: none;
      border: none;
      cursor: pointer;
      margin-right: 30px; }
      .button_page .button_mainContent .button:focus {
        outline: none; }

.button_type1 {
  background: white;
  border-radius: 0;
  position: relative; }
  .button_type1 .borderAnimation {
    border: 2px solid #999;
    padding: 20px; }
    .button_type1 .borderAnimation::before, .button_type1 .borderAnimation::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      transition: all 0.5s; }
    .button_type1 .borderAnimation::before {
      top: 0px;
      left: 0px;
      border-left: 2px solid black;
      border-top: 2px solid black; }
    .button_type1 .borderAnimation::after {
      bottom: 0px;
      right: 0px;
      border-right: 2px solid black;
      border-bottom: 2px solid black; }
    .button_type1 .borderAnimation:hover::before, .button_type1 .borderAnimation:hover::after {
      width: 100%;
      height: 100%; }

.button_type2 {
  padding: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  transition: 0.5s all;
  z-index: 1; }
  .button_type2 span {
    position: relative;
    z-index: 2;
    color: black;
    transition: 0.5s; }
  .button_type2::before, .button_type2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    display: block; }
  .button_type2::before {
    left: 0;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-property: opacity; }
  .button_type2::after {
    transform: scaleX(0);
    transform-origin: right;
    transition-duration: 0.5s;
    transition-property: transform;
    z-index: -1;
    background-color: #ff4d4d; }
  .button_type2:hover {
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d; }
    .button_type2:hover span {
      color: white; }
    .button_type2:hover::before {
      opacity: 1; }
    .button_type2:hover::after {
      transform: scaleX(1);
      transform-origin: left; }

.button_type3 {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: orange;
  transition: all 0.6s;
  text-align: center; }
  .button_type3 span {
    position: relative;
    z-index: 2;
    color: black;
    font-weight: 500;
    transition: all 0.6s; }
  .button_type3::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    width: 0%;
    height: 100%;
    background: black;
    z-index: 1;
    transform: skew(50deg);
    transition-duration: .6s; }
  .button_type3:hover {
    background: orange; }
    .button_type3:hover::after {
      width: 150%; }
    .button_type3:hover span {
      color: white; }

.navbar {
  background: white !important;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  transition: 0.5s all;
  padding: 0; }
  .navbar .navbar-brand {
    padding: 20px; }
    .navbar .navbar-brand img {
      width: 50px;
      height: 50px; }
  .navbar .navbar-nav .nav-item {
    position: initial; }
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 30px;
      font-size: 16px;
      color: black; }
      .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
        display: none; }
  .navbar.sticky {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s; }
  .navbar.down {
    box-shadow: 1px 4px 6px 0px #dedddd94;
    transform: translateY(0px); }
  .navbar.up {
    transform: translateY(-200px); }

.menu_list .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  left: 50%;
  width: 80%;
  margin-top: -10px;
  transform: translateX(-50%) translateY(20px);
  transition: all 0.3s;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid white; }
  .menu_list .dropdown-menu li.dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    background: white !important; }
    .menu_list .dropdown-menu li.dropdown-item .single-menu-list {
      padding: 0 50px; }
      @media screen and (max-width: 768px) {
        .menu_list .dropdown-menu li.dropdown-item .single-menu-list {
          padding: 0 20px; } }
      @media screen and (max-width: 992px) {
        .menu_list .dropdown-menu li.dropdown-item .single-menu-list {
          padding: 0 0px; } }
      .menu_list .dropdown-menu li.dropdown-item .single-menu-list ul {
        list-style: none; }
        .menu_list .dropdown-menu li.dropdown-item .single-menu-list ul li p {
          font-weight: bold; }
  @media screen and (max-width: 768px) {
    .menu_list .dropdown-menu {
      width: 90%;
      opacity: 1;
      visibility: visible;
      position: relative; } }
  @media screen and (min-width: 768px) {
    .menu_list .dropdown-menu {
      display: block; } }
@media screen and (min-width: 576px) {
  .menu_list:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0px); } }

.navbar-collapse {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px; }

.cardHover_page {
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 10px 0; }

.cardHover_general {
  height: 400px;
  background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%); }

.cardHover_type1 {
  position: relative;
  overflow: hidden; }
  .cardHover_type1 .backgroundImage {
    position: absolute;
    top: 0;
    left: 0; }
    .cardHover_type1 .backgroundImage img {
      width: 100%;
      height: 400px;
      object-fit: cover; }
  .cardHover_type1 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    pointer-events: none;
    z-index: 2; }
    .cardHover_type1 .content .content_body {
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transform: translateY(50px);
      transition: .5s; }
      .cardHover_type1 .content .content_body h2 {
        font-size: bold; }
  .cardHover_type1 span {
    position: absolute;
    display: block;
    transition: 0.5s;
    border-radius: 50%;
    background: #ff4d4d;
    width: 0px;
    height: 0px;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s; }
  .cardHover_type1:hover .content .content_body {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); }
  .cardHover_type1:hover span {
    width: 1500px;
    height: 1500px; }

.Apolo {
  height: 400px;
  position: relative;
  overflow: hidden; }
  .Apolo::before, .Apolo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s; }
  .Apolo::before {
    background-color: #3498db;
    opacity: 0;
    z-index: 1; }
  .Apolo::after {
    z-index: 2;
    background-image: url("../../images/hovercard/hoverCard1.jpeg");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    transform: scale(1); }
  .Apolo .content {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%; }
    .Apolo .content h3 {
      font-size: 30px;
      font-weight: lighter;
      margin: 20px; }
      .Apolo .content h3 span {
        font-size: 30px;
        font-weight: bold; }
    .Apolo .content p {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 34%;
      padding-right: 4%;
      border-right: 5px solid white;
      opacity: 0;
      transition: opacity 0.3s; }
  .Apolo span.animation {
    display: inline-block;
    width: 100%;
    height: 300%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    transform: rotate(-45deg) translateX(-300px);
    transition: all 1s; }
  .Apolo:hover::before {
    opacity: 0.7;
    z-index: 2; }
  .Apolo:hover::after {
    transform: scale(1.1);
    z-index: 1; }
  .Apolo:hover span.animation {
    transform: rotate(-45deg) translateX(1000px); }
  .Apolo:hover .content p {
    opacity: 1; }

.roxy {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .roxy::after, .roxy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    height: 100%; }
  .roxy::before {
    background: #3498db;
    z-index: 1;
    opacity: 0;
    width: 100%; }
  .roxy::after {
    background-image: url("../../images/hovercard/hoverCard2.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    z-index: 2;
    width: calc(100% + 60px); }
  .roxy h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-64%, -50%);
    z-index: 6;
    font-weight: lighter;
    font-size: 30px;
    width: 60%; }
    .roxy h3 span {
      font-weight: bold;
      font-size: 30px; }
  .roxy .content {
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid white; }
    .roxy .content p {
      margin-top: 100px; }
  .roxy:hover::before {
    z-index: 2;
    opacity: 0.2; }
  .roxy:hover::after {
    z-index: 1;
    width: calc(100% + 90px); }
  .roxy:hover .content {
    transform: translate(-50%, -50%);
    opacity: 1; }

.carousel_page {
  width: 100%; }

.slick {
  width: 100%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .slick {
      width: 90%; } }
  .slick .slick_image .slick-arrow {
    display: none; }

.carouselType1 {
  background-image: linear-gradient(to bottom, #ffffff, #fafafd 22%, #f5f6fb); }
  .carouselType1 .wrapper {
    width: 35%;
    margin-left: auto !important;
    margin-right: auto !important; }
    @media screen and (max-width: 768px) {
      .carouselType1 .wrapper {
        width: 80%; } }
  .carouselType1 .slick-slide {
    margin-top: 50px !important; }
  .carouselType1 .slick_image {
    width: 100%; }
    .carouselType1 .slick_image .slick-list {
      min-height: 270px; }
      @media screen and (max-width: 768px) {
        .carouselType1 .slick_image .slick-list {
          min-height: 0px; } }
    .carouselType1 .slick_image .item {
      width: 100%;
      border: 2px solid white;
      border-radius: 100%;
      transition: all 0.5s; }
      .carouselType1 .slick_image .item.slick-center {
        transform: scale(1.6); }
    .carouselType1 .slick_image .left-arrow {
      position: absolute;
      top: 50%;
      left: -50px; }
      @media screen and (max-width: 768px) {
        .carouselType1 .slick_image .left-arrow {
          left: -30px; } }
      @media screen and (max-width: 992px) {
        .carouselType1 .slick_image .left-arrow {
          left: -20px; } }
    .carouselType1 .slick_image .right-arrow {
      position: absolute;
      top: 50%;
      right: -50px; }
      @media screen and (max-width: 768px) {
        .carouselType1 .slick_image .right-arrow {
          right: -30px; } }
      @media screen and (max-width: 992px) {
        .carouselType1 .slick_image .right-arrow {
          left: -20px; } }
  .carouselType1 .slick_content {
    width: 90%;
    margin: auto; }
    .carouselType1 .slick_content .slick-dots {
      position: absolute;
      left: 50%;
      bottom: -20px;
      padding: 0px;
      width: auto;
      transform: translateX(-50%); }
      .carouselType1 .slick_content .slick-dots li {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid #999; }
        .carouselType1 .slick_content .slick-dots li button::before {
          content: ''; }
        .carouselType1 .slick_content .slick-dots li.slick-active {
          background: #999 !important; }

.listMainContent {
  width: 100%;
  padding: 10px;
  text-align: center; }
  .listMainContent ul {
    list-style: none; }
    .listMainContent ul li {
      margin-bottom: 10px; }

/*# sourceMappingURL=general.css.map */
