* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box !important;
}
// @font-face {
//   font-family: "Roboto Mono";
//   src: url("../font/RobotoMono-Regular.ttf");
// }
// @font-face {
//   font-family: "Roboto Mono lighter";
//   src: url("../font/RobotoMono-Thin.ttf");
// }
// @font-face {
//   font-family: "Roboto Mono bold";
//   src: url("../font/RobotoMono-Bold.ttf");
// }
html,
body {
  position: relative;
}
